
src/UIE/__pycache__/uiecoder.cpython-310.pyc
src/UIE/__pycache__/UCErrors.cpython-310.pyc
src/UIE/__pycache__/modes.cpython-310.pyc
src/UIE/__pycache__/__init__.cpython-310.pyc
src/UIE.egg-info/top_level.txt
src/UIE.egg-info/SOURCES.txt
src/UIE.egg-info/PKG-INFO
src/UIE.egg-info/dependency_links.txt
